[submodule "lib/backward-cpp"]
	path = lib/backward-cpp
	url = https://github.com/bombela/backward-cpp
[submodule "lib/StackWalker"]
	path = lib/StackWalker
	url = https://github.com/JochenKalmbach/StackWalker
[submodule "lib/asio"]
	path = lib/asio
	url = https://github.com/chriskohlhoff/asio
